@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cormorant Garamond', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #cdcfc0;
    background-image: url(login\ bg.png);
    background-size: cover;
    margin: 0;
}

.wrapper {
    height: 450px;
    width: 500px;
    background: #fcf8f3;
    border-radius: 10px;
    border: 1px solid #432f32;
}

header .current-date {
    font-size: 1.45rem;
    font-weight: bolder;
}

header .icons span{
    height: 38px;
    width: 38px;
    color: #878787;
    font-size: 1.9rem;
    margin: 0 1px;
    cursor: pointer;
    text-align: center;
    line-height: 38px;
    border-radius: 50%;
    background: #f2f2f2;
}

header .icons span:hover {
    background: #f2f2f2;
}

header .icons span:last-child {
    margin-right: -10px;
}

.wrapper header {
    display: flex;
    align-items: center;
    padding: 25px 30px 10px;
    justify-content: space-between;
}

.calendar {
    padding: 20px;
}

.calendar ul {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    text-align: center;
}

.calendar .days {
    margin-bottom: 20px;
}
.calendar .weeks li {
    font-weight: 1000;
}

.calendar ul li {
    position: relative;
    width: calc(100% / 7);
}

.calendar .days li {
    z-index: 1;
    cursor: pointer;
    margin-top: 30px;
}

.days li.inactive {
    color: #969494;

}

.days li.active {
    color: #fff;
}

.calendar .days li::before {
    position: absolute;
    content: "";
    height: 40px;
    width: 40px;
    top: 50%;
    left: 50%;
    z-index: -1;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    background: #daddc9;
}

.days li:hover::before {
    background: #cdcfc0;
}

.days li.active::before {
    background: #a5a69a;
}

.reservations-container {
    display: none;
    position: fixed;
    right: 100px; 
    width: 250px; 
    background-color: #fcf8f3;
    padding: 10px;
    border: 1px solid #432f32;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    text-align: center;
    overflow-y: auto; 
}

.reservations-container h3 {
    margin-top: 0;
    margin-bottom: 10px; 
}

.reservations-container h4 {
    margin-top: 15px; 
    margin-bottom: 5px; 
}

.reservations-container ul {
    padding: 0;
    margin-top: 5px;
    list-style: none; 
}

.reservations-container li {
    margin-bottom: 5px;
}

#labSelect {
    width: 100px; 
    position: fixed;
    margin-left: 13%;
}
.back-button {
    font-family: 'Cormorant Garamond', serif;
    background-color: #676767;
    border: 1px solid #423f32;
    color: #fff;
    border: none;
    width: 10%;
    padding: 10px 25px;
    border-radius: 20px;
    font-size: 20px;
    position: absolute;
    bottom: 50px;
    left: 150px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.back-button:hover {
    background-color: #575757;
}

.slot-buttons-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 slots per row */
    gap: 10px;
    padding: 10px;
    justify-items: center;
}
.slot-button {
    background-color: #007bff;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    width: 100%; /* Ensure buttons take full width of container */
    transition: background-color 0.3s;
}
.slot-button:hover {
    background-color: #0056b3;
}
